body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
}

/* Header */
header {
    border-bottom: 2px solid #28a745;
}

.nav-link.active {
    border-bottom: 2px solid #fff;
}

.countdown-timer {
    color: #28a745;
    font-weight: bold;
}

/* Match Card */
.match-card {
    background-color: #1a1a1a;
    border: 1px solid #28a745;
}

/* Card */
.card {
    background-color: #1a1a1a !important;
    border: none !important;
}

.card img {
    border-bottom: 1px solid #28a745;
}


/* Schedule page */
.bracket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bracket-round {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.bracket-match {
    background-color: #1a1a1a;
    border: 1px solid #28a745;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 250px;
}

.bracket-line {
    width: 2px;
    height: 40px;
    background-color: #28a745;
}